.table{

}
.columns{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.columns>div{
    cursor: pointer;
}
.content .row{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
.content .cell{
    padding: 5px;
}